<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "yongbuzhixi.com"
	version 	= "1.0.1">

	<name>永不止息</name>

	<description>
		drupal service
	</description>

	<author href="http://yongbuzhixi.com"
		email="admin@yongbuzhixi.co">
		bluesky_still
	</author>

	<icon src="icon.png" gap:role="default" />
	<icon src="36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="72.png" gap:platform="android" gap:density="hdpi" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
